
/* shared styles */
.cursor-dot,
.cursor-ring {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* dot */
.cursor-dot {
  width: 10px;
  height: 10px;
  background: var(--gold); 
  border-radius: 50%;
}

/* ring */

.cursor-ring {
  position: fixed;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  pointer-events: none;
 
  border: 1px solid rgba(206, 206, 206, 0.4);
  transition: background 0.3s ease;
}

/* ACTIVE STATE  */
.cursor-ring.cursor-active {
  transform: scale(2.5);
  background: rgb(255, 255, 255);
  border: none;
  mix-blend-mode: difference;
}